@model IEnumerable<YYBagProgram.Models.CarouselSetting>

@{
    ViewData["titlemsg"] = "輪播設定(主頁)";
    int totalpage = (int)ViewData["TotalPages"];
    int currentpage = (int)ViewData["CurrentPage"];
    IList<Product> products = ViewData["products"] as IList<Product> ?? new List<Product>();
}
<head>
    <title>YYBag - @ViewData["titlemsg"]</title>
    <link rel="stylesheet" href="~/css/Pagination.min.css" />
    <link rel="stylesheet" href="~/css/product.min.css" />
</head>
<div class="main_editor_1600">
    <p>
        <button type="button" class="btn_new" onclick="location.href='@Url.Action("Create", "CarouselSetting", new {page=currentpage})'">
            新增
        </button>
    </p>
    <table class="table_product">
        <thead class="th_product">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.strBagsId)
                </th>
                <th>
                    商品名稱
                </th>
                <th>
                    預覽圖片
                </th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strBagsId)
                    </td>
                    <td>
                        @products.Where(row => row.strBagsId.Equals(item.strBagsId)).Select(row => row.strBagsName).FirstOrDefault();
                    </td>
                    <td style=" display: flex; justify-content: center">
                        <img style="width:100px; height:100px" src="@item.imgurl"/>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="CarouselSetting" asp-route-strBagsId="@item.strBagsId" asp-route-page="@currentpage">
                            編輯 |
                        </a>
                        <a asp-action="Delete" asp-controller="CarouselSetting" asp-route-strBagsId="@item.strBagsId" asp-route-page="@currentpage">
                            刪除
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!--分頁器-->
    <div class="page_area">
        <div class="page_area_select">
            <div class="page_area_pre_head" onclick="Onhead()">
                <sapn>第一頁</sapn>
            </div>
            <div class="page_area_pre" onclick="preview(@currentpage-1)">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#797979" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5M10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5" />
                </svg>
                <span>上一頁</span>
            </div>
        </div>
        <div class="page_area_number">
            <div class="page_area_number_container">
                @{
                    for (int i = 0; i < totalpage; i++)
                    {
                        int currentPage = i + 1;
                        <div class="page_area_number_item">
                            <a href="#" onclick="changePage(@currentpage)">@currentpage</a>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="page_area_select">
            <div class="page_area_next" onclick="next(@currentpage+1)">
                <span>下一頁</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#797979" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5" />
                </svg>
            </div>
            <div class="page_area_next_end" onclick="end()">
                <span>最後一頁</span>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        var numberElements = document.querySelectorAll(".page_area_number_item");
        var currentpageindex = @currentpage-1;
        var totaglpages = @totalpage;

        window.onload = () => {
            numberElements[currentpageindex].classList.add("item_selected");
        }

        function next(page) {
            if (page <= totaglpages) {
                changePage(page);
            }
        }

        function preview(page) {
            if (page >= 1) {
                changePage(page);
            }
        }

        function changePage(page) {
            window.location.href = '/products/productsmain/' + page;
        }

        function end(page) {
            page = totaglpages;
            changePage(page)
        }
        function Onhead(page) {
            page = 1;
            changePage(page)
        }
    </script>
}