@model YYBagProgram.Models.ProductsColorDetail
@using YYBagProgram.Enums;
@{
    ViewData["titlemsg"] = "商品顏色數量明細(新增)";
    int currentpage = (int)ViewData["currentpage"];
    string imgurls = ViewData["imgurls"].ToString();
    IList<ProductsColorDetail> productsColorDetails = ViewData["productcolordetail"] as IList<ProductsColorDetail>;
}
<head>
    <title>YYBag-@ViewData["titlemsg"]</title>
    <link rel="stylesheet" href="~/css/Pagination.min.css" />
    <link rel="stylesheet" href="~/css/product.min.css" />
</head>
<div class="main_editor">
    <div class="main_top_column" id="create_top">
        <form asp-action="Create" asp-controller="ProductsColorDetails" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="strID" value="@Model.strID" />
            <input type="hidden" name="page" value="@currentpage" />
            <div class="form_group">
                <label asp-for="strColor" class="comm_label"></label>
                <input asp-for="strColor" class="comm_input" readonly/ value="@Model.strColor">
                <span asp-validation-for="strColor" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="iTotal" class="comm_label"></label>
                <input asp-for="iTotal" class="comm_input" type="number" step="1" min="0" value="@Model.iTotal"/>
                <span asp-validation-for="iTotal" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="iRemain" class="comm_label"></label>
                <input asp-for="iRemain" class="comm_input" type="number" step="1" min="0"/>
                <span asp-validation-for="iRemain" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="iPrice" class="comm_label"></label>
                <input asp-for="iPrice" class="comm_input" type="number" step="1" min="0"/>
                <span asp-validation-for="iPrice" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="iDeliveryDays" class="comm_label"></label>
                <input asp-for="iDeliveryDays" class="comm_input" type="number" step="1" min="0"/>
                <span asp-validation-for="iDeliveryDays" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="ProductStatus" class="comm_label"></label>
                <select asp-for="ProductStatus" class="comm_dropdown" asp-items="Html.GetEnumSelectList<AllEnums.ProductStatus>()" id="select"></select>
                <span asp-validation-for="iDeliveryDays" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="isOnline" class="comm_label"></label>
                <input asp-for="isOnline" type="radio" value="true" id="isOnlineTrue" />
                <label for="isOnlineTrue">是</label>
                <input asp-for="isOnline" type="radio" value="false" id="isOnlineFalse" />
                <label for="isOnlineFalse">否</label>
                <span asp-validation-for="isOnline" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for=Images class="comm_label"></label>
                <input asp-for="Images" type="hidden" class="comm_input" value="" id="Images" />
                <div style="width:800px; height:auto; display:flex; flex-wrap:wrap; flex-direction:row">
                    @{
                        string[] urls = imgurls.Split(";", StringSplitOptions.RemoveEmptyEntries);
                        foreach (var url in urls)
                        {
                            int startIndex = url.IndexOf(@"\upload");
                            <div class="img_select_radio">
                                <input type="radio" name="selectedImage" class="imageRadio" data-src="@url.Substring(startIndex).Replace("\\", "/")" />
                                @if (startIndex != -1)
                                {
                                    <img style="width:100px; height:100px" src="@url.Substring(startIndex).Replace("\\", "/")" />
                                }
                            </div>
                        }
                    }
                </div>
                <span asp-validation-for="Images" class="text-danger"></span>
            </div>
            <div class="form_submit">
                <input type="submit" value="送出" class="btn_full" id="btn_sunmit" />
            </div>
        </form>
        <div class="form_submit">
            <button type="button" class="btn_full" id="btn_cancel" onclick="location.href='@Url.Action("ProductColorDetailMain", "ProductsColorDetails", new { strID = Model.strID, page=currentpage} )'">取消</button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('#imagefiles').on('change', function (e) {
            const files = document.getElementById('imagefiles').files;

            for (let i = 0; i < files.length; i++) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const img = document.createElement('img')
                    img.src = e.target.result;
                    img.style.width = '100px';
                    img.style.height = '100px';
                    img.style.padding = '0 10px 0 0';
                    document.getElementById('previewImgs').appendChild(img);
                };
                reader.readAsDataURL(files[i]);
            }
        });

        document.getElementById("btn_sunmit").addEventListener("click", function (event) {

            // 檢查是否有選擇圖像
            var selectedImage = document.querySelector('input[name="selectedImage"]:checked');
            if (!selectedImage) {
                event.preventDefault();
                alert("請選擇一個圖像");
                return;
            }

            // 獲取選擇的圖像的src
            var selectedImageSrc = selectedImage.getAttribute("data-src");

            document.getElementById("Images").value = selectedImageSrc;

            var selectedValue = document.getElementById("select").value;

            var items = @Html.Raw(Json.Serialize(productsColorDetails));

            var exists = items.some(function (item) {
                return (item.productStatus == selectedValue);
            });

            if (exists) {
                event.preventDefault();
                alert("此商品狀態已經選過。請重新選擇其他");
                return;
            }

            const files = document.getElementById('imagefiles').files;
            if (files.length == 0) {
                document.getElementById("Images").value = "";
            }
        });
    </script>
}


