@using YYBagProgram.Enums;
@model YYBagProgram.Models.ViewModel.MemberRoleViewModel;

@{
    ViewData["titlemsg"] = "會員角色(編輯)";
}
<head>
    <title>YYBag-@ViewData["titlemsg"]</title>
    <link rel="stylesheet" href="~/css/member.min.css" />
</head>
<div class="main_editor_1200">
    <div id="edit_down" class="main_top_column">
        <form asp-action="Edit" asp-controller="Member" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="page" value="@Model.CurremtPage" />
            <div class="form_group">
                <label asp-for="@Model.MemberRoles[0].MemberId" class="comm_label"></label>
                <input asp-for="@Model.MemberRoles[0].MemberId" class="comm_input" readonly />
                <span asp-validation-for="@Model.MemberRoles[0].MemberId" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="@Model.MemberRoles[0].Role" class="comm_label"></label>
                <select asp-for="@Model.MemberRoles[0].Role" class="comm_dropdown" asp-items="Html.GetEnumSelectList<AllEnums.MemberRole>()" id="select"></select>
                <span asp-validation-for="@Model.MemberRoles[0].Role" class="text-danger"></span>
            </div>
            <div class="form_submit">
                <input type="submit" value="送出" class="member_btn_50" id="btn_sunmit" />
            </div>
        </form>
        <div class="form_submit">
            <div></div>
            <button type="button" class="member_btn_50" id="btn_cancel" onclick="location.href='@Url.Action("ManageMemberShipMain", "Member", new{page=Model.CurremtPage})'">取消</button>
        </div>
    </div>
</div>