@model YYBagProgram.Models.MonthlyHot;

@{
    var oriImages = " ";
    ViewData["titlemsg"] = "本月熱銷(編輯)";
    IList<Product> products = ViewData["product"] as IList<Product>;
    IList<MonthlyHot> monthlyhots = ViewData["monthlyhot"] as IList<MonthlyHot>;
    if (ViewData["OriImages"].ToString().Length > 0)
    {
        oriImages = ViewData["OriImages"].ToString();
    }
}

<head>
    <title>YYBag-@ViewData["titlemsg"]</title>
</head>
<div class="main_editor">
    <div class="main_top_column" id="edit_top">
        <form asp-action="Edit" asp-controller="MonthlyHot" method="post" enctype="multipart/form-data">
            <input asp-for="img" value="@Model.img" type="hidden" />
            <input type="hidden" name="OriImages" value="@oriImages" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form_group">
                <label asp-for="@Model.Year" class="comm_label"></label>
                <input asp-for="@Model.Year" class="comm_input" value="@Model.Year" id="input_year" readonly />
                <span asp-validation-for="@Model.Year" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="@Model.Month" class="comm_label"></label>
                <input asp-for="@Model.Month" class="comm_input" value="@Model.Month" id="input_month" readonly />
                <span asp-validation-for="@Model.Month" class="text-danger"></span>
            </div>
            <div class="form_group">
                <label asp-for="@Model.strBagsId" class="comm_label"></label>
                <select asp-for="@Model.strBagsId" class="comm_input" id="bagselect">
                    <option value="">請選擇商品</option>
                    @foreach (var item in products)
                    {
                        <option value="@item.strBagsId">@item.strBagsName</option>
                    }
                </select>
                <span asp-validation-for="@Model.strBagsId" class="text-danger"></span>
            </div>

            <div class="form_group">
                <label asp-for=@Model.img class="comm_label"></label>
                <label class="btn_new">
                    <input type="file" accept="image/*" name="imagefiles" id="imagefiles" style="display:none;" />
                    <div class="comm_fileupload">+</div>
                </label>
                <span asp-validation-for="@Model.img" class="text-danger"></span>
            </div>
            <!--預覽-->
            <div id="previewImgs" class="previewiImgs">
                @if (Model.img != null && Model.img.Length > 0)
                {
                    int startIndex = Model.img.IndexOf(@"\upload");
                    <img style="width:200px; height:200px" src="@Model.img.Substring(startIndex).Replace("\\", "/")" />
                }
            </div>
            <div class="form_submit">
                <input type="submit" value="送出" class="btn_full" id="btn_sunmit" />
            </div>
        </form>
        <div class="form_submit">
            <button type="button" class="btn_full" id="btn_cancel" onclick="location.href='@Url.Action("Main", "MonthlyHot")'">取消</button>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#imagefiles').on('change', function (e) {
            var outputsimages = document.getElementById('previewImgs');
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var img = document.createElement('Img');
                    img.src = e.target.result;
                    img.style.width = '200px';
                    img.style.height = '200px';
                    outputsimages.appendChild(img);
                }
                reader.readAsDataURL(files[i]);
            }
        });

        document.getElementById('bagselect').disabled = true;
    </script>
}