@model IEnumerable<YYBagProgram.Models.MonthlyHot>

@{
    ViewData["titlemsg"] = "本月熱銷";
}
<head>
    <title>YYBag - @ViewData["titlemsg"]</title>
</head>
<div class="main_editor">
    <p>
        <button type="button" class="btn_new" onclick="location.href='@Url.Action("Create", "MonthlyHot")'">
            新增
        </button>
    </p>
    <table class="table_product">
        <thead class="th_product">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.strBagsId)
                </th>
                <th>
                    預覽圖片
                </th>
                <th>編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strBagsId)
                    </td>
                    <td style=" display: flex; justify-content: center">
                        @{
                            int startIndex = item.img.IndexOf(@"\upload");
                            if (startIndex != -1)
                            {
                                <img style="width:100px; height:100px" src="@item.img.Substring(startIndex).Replace("\\", "/")" />
                            }
                        }
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="MonthlyHot" asp-route-year="@item.Year" asp-route-month="@item.Month" asp-route-strBagsId="@item.strBagsId">
                            編輯 | 
                        </a>
                        <a asp-action="Delete" asp-controller="MonthlyHot" asp-route-year="@item.Year" asp-route-month="@item.Month" asp-route-strBagsId="@item.strBagsId">
                            刪除
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>