@model YYBagProgram.Models.CartFolder.Cart;

@{
    Layout = null;
    int cartitemscount = (int)ViewData["cartItemCount"];
}

<head>
    <link rel="stylesheet" href="~/css/cartitems.min.css" />
    <script>
        function redirectToMemberCart() {
            var url = '@Url.Action("MemberCart", "Member")';
            window.location.href = url;
        }
    </script>
</head>

@{
    if (cartitemscount > 0)
    {
        foreach (var item in Model.Items)
        {
            <div class="item_area">
                @{
                    int startindex = item.imgurl.IndexOf("/upload");
                    string imgurl = item.imgurl.Substring(startindex);
                }
                <img src="@imgurl" />
                <div class="item_info_area">
                    <span class="span_item_name">@item.name</span>
                    <div class="item_info">
                        <div class="item_info_color">
                            <span>顏色 @item.color</span>
                        </div>
                        <div class="item_info_count">
                            <span>數量 @item.quantity</span>
                        </div>
                        <div class="item_info_price">
                            <span>價格 @item.price</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        <hr class="cartitem_hr" />
        <span class="totalamount">總額 @Model.TotalAmount</span>
        <div class="checkout" onclick="redirectToMemberCart()"><span>前往結帳</span></div>
    }
}
